header h1 {
    color: #457b9d;
    text-align: center;
}

#LoginDiv form{
    margin: 5% auto;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding: 40px 5px;
    box-shadow: 0px 0px 5px 1px rgba(69, 123, 157, .40);
}

#LoginDiv form input{
    outline: none;
    display: block;
    padding: 6px 0px;
    margin: 10px auto;
    margin-bottom: 10%;

    border: none;
    border-bottom: 1px solid rgb(69, 123, 157);
}

#LoginDiv form a {
    display: block;
    padding: 6px;
    margin: 13% auto 5%;
    width: 30%;
    color: rgba(69, 123, 157, 1);
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgba(69, 123, 157, .40);
}

#LoginDiv form a:hover {
    color: whitesmoke;
    background-color: rgba(69, 123, 157, .80);
}
